html{
    scroll-behavior: smooth;
}

body{
  background-color: #ffffff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1{
   
    font-size: 50px;
    line-height: 1;
    padding: 50px 50px;
    text-align: left;
 
}
nav ul{
  list-style-type: none;
}

nav li{
	display: inline-block;
	padding-right: 20px;
	padding-top: 15px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}

nav a:hover{
  text-decoration: underline; 
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute; 
  top: -40px;    
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{ 
	position: absolute;
	top: 0;
}

a:focus{ 
	border: 2px solid black;
}

.nav li.active > a{
  text-decoration: underline;
  

}

footer{
  
  grid-column: 1 / -1;  
  grid-row: 4 / span 1;   
  padding-top: 30px;
  text-align: center;
}

.container{
  
  display: grid;
  grid-template-columns: 150px 500px 100px; 
  grid-row-gap: 15px;
  grid-template-rows: 30px auto 100px; 
  width: 100vw; 
}

.nav{
   
   align-self: left;
   grid-column: 1/-1;
   grid-row: 1/ span 1;
   padding: 20px 0; 
   text-align: left; 
}

header{ 

  grid-column: 1/-1;
  grid-row: 2/ span 1;
}

header p{
  color: black;
  font-size: 24px;
  padding: 0 50px;
  text-align: left;
  grid-column: 2/ span 1;
  

  justify-content: left;
  align-items: center;
  margin: auto;
}

img{
  width: 100%;
}



@media screen and (min-width: 800px){

  .container{
    display: grid;
    grid-template-columns: 50px auto 500px auto 50px; 
    grid-template-rows: 70px auto auto 100px;
    grid-row-gap: 15px; 
    width: 100vw;
    
  }

  .nav{
    
    text-align: right;
    padding: 35px 0;
    grid-column: 1/-1;
    grid-row: 1/ span 1;
    
  }

  img{
  width: 100%;
}